.icon-48-lawfirms {
      background-image: url(../images/l_lawfirms.png);
      padding-left:60px!important;
}

.icon-48-lawfirm {
      background-image: url(../images/l_lawfirms.png);
      padding-left:60px!important;
}

.icon-48-reports {
      background-image: url(../images/l_reports.png);
      padding-left:60px!important;
}

.icon-48-report {
      background-image: url(../images/l_reports.png);
      padding-left:60px!important;
}
.icon-48-payments {
      background-image: url(../images/l_payments.png);
      padding-left:60px!important;
}

.icon-48-payment {
      background-image: url(../images/l_payments.png);
      padding-left:60px!important;
}
