.icon-48-legalusers {
      background-image: url(../images/l_legalusers.png);
      padding-left:60px!important;
}

.icon-48-legaluser {
      background-image: url(../images/l_legalusers.png);
      padding-left:60px!important;
}

