.icon-48-lawfirms {
      background-image: url(../images/l_lawfirms.png);
      padding-left:60px!important;
}

.icon-48-lawfirm {
      background-image: url(../images/l_lawfirms.png);
      padding-left:60px!important;
}

